<hr class="no-margin-top">
<div class="container section-block ">
    <div class="row featureImg">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="category.html">
                <img src="images/site/new-collection-1.jpg"
                     class="img-responsive" alt="img">
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="category.html">
                <img src="images/site/new-collection-2.jpg"
                     class="img-responsive" alt="img">
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="category.html">
                <img src="images/site/new-collection-3.jpg"
                     class="img-responsive" alt="img">
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="category.html">
                <img src="images/site/new-collection-4.jpg"
                     class="img-responsive" alt="img">
            </a>
        </div>
    </div>
    <!--/.row-->
</div>
<!--/.section-block-->