<div class="container section-block">
    <h3 class="section-title">
        <span> BRAND</span> <a id="nextBrand" class="link pull-right carousel-nav">
            <i class="fa fa-angle-right"></i>
        </a> <a id="prevBrand" class="link pull-right carousel-nav">
            <i class="fa fa-angle-left"></i>
        </a>
    </h3>
    <div class="row">
        <div class="col-lg-12">
            <ul class="no-margin brand-carousel owl-carousel owl-theme">
                <li><a><img src="images/brand/1.gif" alt="img"></a></li>
                <li><img src="images/brand/2.png" alt="img"></li>
                <li><img src="images/brand/3.png" alt="img"></li>
                <li><img src="images/brand/4.png" alt="img"></li>
                <li><img src="images/brand/5.png" alt="img"></li>
                <li><img src="images/brand/6.png" alt="img"></li>
                <li><img src="images/brand/7.png" alt="img"></li>
                <li><img src="images/brand/8.png" alt="img"></li>
                <li><img src="images/brand/1.gif" alt="img"></li>
                <li><img src="images/brand/2.png" alt="img"></li>
                <li><img src="images/brand/3.png" alt="img"></li>
                <li><img src="images/brand/4.png" alt="img"></li>
                <li><img src="images/brand/5.png" alt="img"></li>
                <li><img src="images/brand/6.png" alt="img"></li>
                <li><img src="images/brand/7.png" alt="img"></li>
                <li><img src="images/brand/8.png" alt="img"></li>
            </ul>
        </div>
    </div>
    <!--/.row-->
</div>
<!--/.section-block-->