@model ParallexImageViewModel

<div class="parallax-section @Model.BackgroundImage">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content clearfix">
                    <h1 class="parallaxPrce"> $@Model.Price </h1>
                    <h2 class="uppercase">@Model.Description1</h2>
                    <h3>@Model.Description2</h3>
                    <div style="clear:both"></div>
                    <a class="btn btn-discover "> <i class="fa fa-shopping-cart"></i> SHOP NOW </a>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>