
<li class="dropdown  cartMenu ">
    <a href="~/#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-shopping-cart"></i> <span class="cartRespons"> Cart ($210.00) </span> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
        <li class="w100 miniCartTable scroll-pane">
            <table>
                <tbody>
                    <tr class="miniCartProduct">
                        <td style="width:20%" class="miniCartProductThumb">
                            <div>
                                <a href="~/product-details.html">
                                    <img src="~/images/product/3.jpg" alt="img">
                                </a>
                            </div>
                        </td>
                        <td style="width:40%">
                            <div class="miniCartDescription">
                                <h4><a href="~/product-details.html"> TSHOP Tshirt DO9 </a></h4>
                                <span class="size"> 12 x 1.5 L </span>
                                <div class="price"><span> $22 </span></div>
                            </div>
                        </td>
                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                        <td style="width:15%" class="miniCartSubtotal"><span> $33 </span></td>
                        <td style="width:5%" class="delete"><a> x </a></td>
                    </tr>
                    <tr class="miniCartProduct">
                        <td style="width:20%" class="miniCartProductThumb">
                            <div>
                                <a href="~/product-details.html">
                                    <img src="~/images/product/2.jpg" alt="img">
                                </a>
                            </div>
                        </td>
                        <td style="width:40%">
                            <div class="miniCartDescription">
                                <h4><a href="~/product-details.html"> TShir TSHOP 09 </a></h4>
                                <span class="size"> 12 x 1.5 L </span>
                                <div class="price"><span> $15 </span></div>
                            </div>
                        </td>
                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                        <td style="width:15%" class="miniCartSubtotal"><span> $120 </span></td>
                        <td style="width:5%" class="delete"><a> x </a></td>
                    </tr>
                    <tr class="miniCartProduct">
                        <td style="width:20%" class="miniCartProductThumb">
                            <div>
                                <a href="~/product-details.html">
                                    <img src="~/images/product/5.jpg" alt="img">
                                </a>
                            </div>
                        </td>
                        <td style="width:40%">
                            <div class="miniCartDescription">
                                <h4><a href="~/product-details.html"> Tshir 2014 </a></h4>
                                <span class="size"> 12 x 1.5 L </span>
                                <div class="price"><span> $30 </span></div>
                            </div>
                        </td>
                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                        <td style="width:15%" class="miniCartSubtotal"><span> $80 </span></td>
                        <td style="width:5%" class="delete"><a> x </a></td>
                    </tr>
                    <tr class="miniCartProduct">
                        <td style="width:20%" class="miniCartProductThumb">
                            <div>
                                <a href="~/product-details.html">
                                    <img src="~/images/product/3.jpg" alt="img">
                                </a>
                            </div>
                        </td>
                        <td style="width:40%">
                            <div class="miniCartDescription">
                                <h4><a href="~/product-details.html"> TSHOP T shirt DO20 </a></h4>
                                <span class="size"> 12 x 1.5 L </span>
                                <div class="price"><span> $15 </span></div>
                            </div>
                        </td>
                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                        <td style="width:15%" class="miniCartSubtotal"><span> $55 </span></td>
                        <td style="width:5%" class="delete"><a> x </a></td>
                    </tr>
                    <tr class="miniCartProduct">
                        <td style="width:20%" class="miniCartProductThumb">
                            <div>
                                <a href="~/product-details.html">
                                    <img src="~/images/product/4.jpg" alt="img">
                                </a>
                            </div>
                        </td>
                        <td style="width:40%">
                            <div class="miniCartDescription">
                                <h4><a href="~/product-details.html"> T shirt Black </a></h4>
                                <span class="size"> 12 x 1.5 L </span>
                                <div class="price"><span> $44 </span></div>
                            </div>
                        </td>
                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                        <td style="width:15%" class="miniCartSubtotal"><span> $40 </span></td>
                        <td style="width:5%" class="delete"><a> x </a></td>
                    </tr>
                    <tr class="miniCartProduct">
                        <td style="width:20%" class="miniCartProductThumb">
                            <div>
                                <a href="~/product-details.html">
                                    <img src="~/images/site/winter.jpg"
                                         alt="img">
                                </a>
                            </div>
                        </td>
                        <td style="width:40%">
                            <div class="miniCartDescription">
                                <h4><a href="~/product-details.html"> G Star T shirt </a></h4>
                                <span class="size"> 12 x 1.5 L </span>
                                <div class="price"><span> $80 </span></div>
                            </div>
                        </td>
                        <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                        <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                        <td style="width:5%" class="delete"><a> x </a></td>
                    </tr>
                </tbody>
            </table>
        </li>
        <!--/.miniCartTable-->
        <div class="miniCartFooter text-right">
            <h3 class="text-right subtotal"> Subtotal: $210 </h3>
            <a class="btn btn-sm btn-danger" href="~/cart.html">
                <i class="fa fa-shopping-cart"> </i> VIEW
                CART
            </a><a class="btn btn-sm btn-primary">CHECKOUT</a>
        </div>
        <!--/.miniCartFooter-->
    </ul>
    <!--/.dropdown-menu-->
</li>