<div class="modal fade hide" id="modalAds" role="dialog">
    <div class="modal-dialog  modal-bg-1">
        <div class="modal-body-content">
            <a class="close" data-dismiss="modal">×</a>
            <div class="modal-body">
                <div class="col-lg-6 col-sm-8 col-xs-8">
                    <h3>enter your <br>email to receive</h3>
                    <p class="discountLg">10% OFF </p>
                    <p>
                        We invite you to subscribe to our newsletter and receive 10% discount.
                    </p>
                    <div class="clearfx">
                        <form id="newsletter" class="newsletter">
                            <input type="text" id="subscribe" name="s" placeholder="Enter email">
                            <button class="subscribe-btn">Subscribe</button>
                        </form>
                    </div>
                    <p>
                        <a href="~/category.html" class="link shoplink"> SHOP NOW <i class="fa fa-caret-right"> </i> </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>